<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 d-flex align-items-center justify-content-center">
            <div class="content">
                <div class="mb-10 chart-container">
                    <br>
                    <br>
                    <br>
                    <canvas #pieChart  class="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
